# Base16 {{scheme-name}} - Kitty Colors
# Author: {{scheme-author}}

# Basic colors
foreground #{{base05-hex}}
background #{{base00-hex}}
selection_foreground #{{base00-hex}}
selection_background #{{base05-hex}}

# Cursor
cursor #{{base05-hex}}
cursor_text_color #{{base00-hex}}

# URL color
url_color #{{base0D-hex}}

# Window borders
active_border_color #{{base0D-hex}}
inactive_border_color #{{base03-hex}}
bell_border_color #{{base0A-hex}}

# Tab bar
active_tab_foreground #{{base00-hex}}
active_tab_background #{{base0D-hex}}
inactive_tab_foreground #{{base05-hex}}
inactive_tab_background #{{base01-hex}}
tab_bar_background #{{base00-hex}}

# Marks
mark1_foreground #{{base00-hex}}
mark1_background #{{base0D-hex}}
mark2_foreground #{{base00-hex}}
mark2_background #{{base0E-hex}}
mark3_foreground #{{base00-hex}}
mark3_background #{{base0C-hex}}

# Terminal colors
# black
color0 #{{base00-hex}}
color8 #{{base03-hex}}

# red
color1 #{{base08-hex}}
color9 #{{base08-hex}}

# green
color2 #{{base0B-hex}}
color10 #{{base0B-hex}}

# yellow
color3 #{{base0A-hex}}
color11 #{{base0A-hex}}

# blue
color4 #{{base0D-hex}}
color12 #{{base0D-hex}}

# magenta
color5 #{{base0E-hex}}
color13 #{{base0E-hex}}

# cyan
color6 #{{base0C-hex}}
color14 #{{base0C-hex}}

# white
color7 #{{base05-hex}}
color15 #{{base07-hex}}
